.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  margin: auto;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: 2em;
width: 2em;
overflow: show;
position: fixed;

  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.arkaplan{
  background: white;
  width: 100%;
  height: 100%;
  z-index: 1001;
  display: block;
position: fixed;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

p,span {
  color: white;
}
